<div class="flex flex-row w-full h-full bg-[#DCEBFA]">
    <div class="w-full flex items-center">
      <div>
      <div class="text-9xl p-10 text-center font-mono font-bold tracking-wide text-amber-600"> Private Dermatology </div>
      <div class="px-36 italic text-lg">Private Dermatology MD, offers both cosmetic and medical dermatologic consultations and treatments. Our trained resident dermatologist is available by appointment so as to allow consultations and treatments in an unhurried environment. The patients are spared  long waiting time as seen in many doctors offices. Concerns and needs of the patients are addressed at a personal level with solutions designed to fit ones schedule and budget. Private Dermatology MD is conveniently located at Oakridge Business Park. We offer basic, advanced and affordable skin care. All treatments are performed only by a trained dermatologist or nurses and are all designed to give clients and patients utmost benefits and satisfaction.</div>
      </div>
        <%= image_tag('img.png', class: "w-[40rem] flex items-center") %>
    </div>
</div>